<div class="container">
  <mat-card *ngFor="let file of imageFiles" class="image-preview">
    <mat-card-header>
      <mat-card-title>{{file.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{file.url}}" alt="{{file.name}}">
  </mat-card>
</div>
