<div class="path">
  <app-path [currentPathInfo]="currentPathInfo"></app-path>
</div>
<div class="main-wrapper">
  <div class="directory-explorer">
    <app-directory-explorer (currentPathChanged)="currentPathChanged($event)"></app-directory-explorer>
  </div>
  <div class="gallery">
    <app-gallery [currentPath]="currentPathInfo?.fullPath"></app-gallery>
  </div>
</div>
