:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.path {
  flex: 0;
}

.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;

  .directory-explorer {
    flex: 0;
  }

  .gallery {
    flex: 1;
    overflow-y: auto;
  }
}
